CONFIG_PROJECT_VERSION="0.1.0"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_WAVESHARE_T5AI_TOUCH_AMOLED_1_75=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_VERSION_9=y
CONFIG_LVGL_ENABLE_TP=y
CONFIG_ENABLE_LVGL_DUAL_DISP_BUFF=y
CONFIG_LV_DRAW_BUF_PROPORTION_10=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_BUTTON_NAME="key_btn"
CONFIG_ENABLE_BUTTON_2=y
CONFIG_BUTTON_NAME_2="pwr_btn"
CONFIG_BUTTION_STACK_SIZE=4096
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
