CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_TUYA_T5AI_BOARD_EX_MODULE_NONE=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LV_FONT_UNSCII_8=y
CONFIG_LV_FONT_UNSCII_16=y
CONFIG_LVGL_ENABLE_TP=y
CONFIG_SDCARD=y
CONFIG_SDCARD_BUSWIDTH_4LINE=y
CONFIG_SDIO_HOST=y
CONFIG_FATFS=y
CONFIG_SDCARD_CHECK_INSERTION_EN=y
CONFIG_SDCARD_CHECK_INSERTION_GPIO_ID=8
CONFIG_USBH_HID=y
CONFIG_AUDIO_CODEC_NAME="audio"